@if (!rune()) {
    <div class="glyphs">
        @for (g of glyphs(); track $index) {
            <app-glyph [symbol]="g"></app-glyph>
        }
    </div>
}

@if (cell().hasCrux) {
    <div class="crux" [attr.aria-label]="'Crux of ' + element()">{{ cruxSymbol() }}</div>
    @if (cruxBadge(); as badge) {
        <div class="crux-badge" [class.preview]="badge.preview" [attr.data-owner]="badge.owner">{{ badge.text }}</div>
    }
}

@if (rune(); as r) {
    <app-rune class="rune" [rune]="r" [previewFlux]="fluxPreview()"></app-rune>
} @else if (ghost(); as g) {
    <app-rune class="rune ghost" [rune]="g"></app-rune>
}
