@if (cell().hasCrux) {
    <div class="crux" [attr.aria-label]="'Crux of ' + cell().cruxColor">{{ cruxSymbol() }}</div>
} @else {
    <!-- Two-color swatch: row color (top-left) and column color (bottom-right). -->
    <div class="colors" aria-hidden="true">
        <span class="row-color" [attr.data-color]="cell().rowColor">{{ rowSymbol() }}</span>
        <span class="col-color" [attr.data-color]="cell().colColor">{{ colSymbol() }}</span>
    </div>

    @if (stone(); as s) {
        <div class="stone" [attr.data-owner]="s.owner">
            <app-glyph [symbol]="s.glyph"></app-glyph>
        </div>
    }
}
