:host {
    background: #0b0f1a;
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: flex;
    flex-direction: column-reverse;

    h1, h2, h3 {
        text-align: center;
        color: #fff;
    }

    h1 {
        letter-spacing: 0.25em;
        margin-top: 0.5em;
    }

    .form-container {
        flex-grow: 1;
        margin: 0 auto;
        max-width: 500px;
        width: 100%;
    }

    .background-container {
        background: radial-gradient(ellipse at center, #1b2440 0%, #060912 70%);
        flex-grow: 3;
    }
}
