:host {
    color: white;

    button[mat-icon-button] {
        cursor: pointer;
    }

    .submit-btn {
        display: block;
        margin: 0 auto;
    }

    form {
        display: flex;
        flex-direction: column;
        margin: 10px;
    }
}
